UID=
DB_USER=
DB_PASSWORD=
DB_HOST=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
# Default configuration value
# If changin this, don't forget to adjust `docker-compose.yml` too
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
KIBANA_HOST=kibana
KIBANA_PORT=5601